# Quiz Module 1

In [1]:
import pandas as pd
import numpy as np
import risk_kit as erk
import matplotlib as mpl

In [2]:
%load_ext autoreload

In [3]:
%autoreload 2

In [41]:
ffme = erk.get_ffm_d20returns()

/Users/nicholasflores/Documents/GitHub/data-science-python/finance-ml/risk_kit.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  me_m = pd.read_csv("finance-ml-data/Portfolios_Formed_on_ME_monthly_EW.csv",

In [42]:
ffme

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316
...         ...     ...
2018-08  0.0309  0.0249
2018-09 -0.0204  0.0019
2018-10 -0.1052 -0.0741
2018-11 -0.0278  0.0249
2018-12 -0.1477 -0.0921

[1110 rows x 2 columns]

In [6]:
## annualized returns for Lo 20 Portfolio

In [7]:
returns = 1000*(1+ffme["Lo 20"]).cumprod()

In [8]:
returns

1926-07    9.943000e+02
1926-08    1.032481e+03
1926-09    1.027525e+03
1926-10    9.937196e+02
1926-11    9.882542e+02
               ...
2018-08    6.644003e+08
2018-09    6.508465e+08
2018-10    5.823775e+08
2018-11    5.661874e+08
2018-12    4.825615e+08
Freq: M, Name: Lo 20, Length: 1110, dtype: float64

In [ ]:
drawdown_df = erk.drawdown(

In [22]:
#gets the number of months
n_months = ffme.shape[0]

In [11]:
#gets the total returns over the entire period
returns_per_mo = (ffme+1).prod()**(1/n_months) - 1

In [12]:
returns_per_mo

Lo 20    0.011860
Hi 20    0.007859
dtype: float64

In [13]:
ann_return = (returns_per_mo+1)**12-1

In [14]:
ann_return

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [15]:
ann_vol = ffme.std()*np.sqrt(12)

In [16]:
ann_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [17]:
## 1999 to 2015 period

In [43]:
ffme_1999 = ffme["1999":"2015"]

In [44]:
ffme_1999

          Lo 20   Hi 20
1999-01  0.1114  0.0153
1999-02 -0.0399 -0.0172
1999-03 -0.0308  0.0368
1999-04  0.0824  0.0679
1999-05  0.0435 -0.0048
...         ...     ...
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

[204 rows x 2 columns]

In [45]:
n_months_1999 = ffme_1999.shape[0]

In [46]:
returns_per_mo_1999 = (ffme_1999+1).prod()**(1/n_months_1999) - 1

In [47]:
returns_per_mo_1999

Lo 20    0.009069
Hi 20    0.005094
dtype: float64

In [48]:
ann_return_1999 = (returns_per_mo_1999+1)**12-1

In [75]:
ann_return_1999

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [49]:
ann_vol_1999 = ffme_1999.std()*np.sqrt(12)

In [50]:
ann_vol_1999

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [51]:
## Max Drawdown

In [52]:
ffme_1999

          Lo 20   Hi 20
1999-01  0.1114  0.0153
1999-02 -0.0399 -0.0172
1999-03 -0.0308  0.0368
1999-04  0.0824  0.0679
1999-05  0.0435 -0.0048
...         ...     ...
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

[204 rows x 2 columns]

In [57]:
drawdown_Lo20 = erk.drawdown(ffme_1999['Lo 20'])

In [58]:
drawdown_Lo20

              Wealth        Peaks  Drawdowns
1999-01  1111.400000  1111.400000   0.000000
1999-02  1067.055140  1111.400000  -0.039900
1999-03  1034.189842  1111.400000  -0.069471
1999-04  1119.407085  1119.407085   0.000000
1999-05  1168.101293  1168.101293   0.000000
...              ...          ...        ...
2015-08  6698.386200  7558.245112  -0.113764
2015-09  6289.784642  7558.245112  -0.167825
2015-10  6531.941351  7558.245112  -0.135786
2015-11  6639.718383  7558.245112  -0.121526
2015-12  6307.732464  7558.245112  -0.165450

[204 rows x 3 columns]

In [59]:
drawdown_Lo20['Drawdowns'].min()

-0.6248092431236988

In [60]:
drawdown_Lo20['Drawdowns'].idxmin()

Period('2009-02', 'M')

In [61]:
## Max Drawdown LargCap

In [62]:
drawdown_Hi20 = erk.drawdown(ffme_1999['Hi 20'])

In [63]:
drawdown_Hi20

              Wealth        Peaks  Drawdowns
1999-01  1015.300000  1015.300000   0.000000
1999-02   997.836840  1015.300000  -0.017200
1999-03  1034.557236  1034.557236   0.000000
1999-04  1104.803672  1104.803672   0.000000
1999-05  1099.500614  1104.803672  -0.004800
...              ...          ...        ...
2015-08  2782.642979  2986.379377  -0.068222
2015-09  2689.980968  2986.379377  -0.099250
2015-10  2880.969617  2986.379377  -0.035297
2015-11  2885.291071  2986.379377  -0.033850
2015-12  2819.217906  2986.379377  -0.055975

[204 rows x 3 columns]

In [64]:
drawdown_Hi20['Drawdowns'].min()

-0.5527349978713653

In [65]:
drawdown_Hi20['Drawdowns'].idxmin()

Period('2009-02', 'M')

In [ ]:
#

In [66]:
hfi = erk.get_hfi_returns()

/Users/nicholasflores/Documents/GitHub/data-science-python/finance-ml/risk_kit.py:55: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  hfi = pd.read_csv("finance-ml-data/edhec-hedgefundindices.csv",

In [70]:
hfi_09 = hfi['2009':]

In [71]:
hfi_09

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [72]:
hfi_09[hfi_09<0].std(ddof=0)

Convertible Arbitrage     0.006681
CTA Global                0.010996
Distressed Securities     0.009498
Emerging Markets          0.015276
Equity Market Neutral     0.005186
Event Driven              0.010135
Fixed Income Arbitrage    0.003321
Global Macro              0.005075
Long/Short Equity         0.012139
Merger Arbitrage          0.003611
Relative Value            0.005711
Short Selling             0.021240
Funds Of Funds            0.007948
dtype: float64

In [73]:
erk.skewness(hfi_09)

Convertible Arbitrage     1.305911
CTA Global                0.052062
Distressed Securities    -0.254944
Emerging Markets          0.033123
Equity Market Neutral    -0.896327
Event Driven             -0.488821
Fixed Income Arbitrage    1.121453
Global Macro              0.348184
Long/Short Equity        -0.463703
Merger Arbitrage         -0.551065
Relative Value            0.159953
Short Selling             0.456518
Funds Of Funds           -0.646908
dtype: float64

In [74]:
erk.kurtosis(hfi['2000':])

Convertible Arbitrage     23.001449
CTA Global                 2.845022
Distressed Securities      6.231720
Emerging Markets           5.941289
Equity Market Neutral     20.329621
Event Driven               5.543444
Fixed Income Arbitrage    33.378729
Global Macro               3.653278
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Relative Value            12.731096
Short Selling              4.352758
Funds Of Funds             7.584725
dtype: float64